*{
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
}
body{
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
aside{
    padding: 1rem;
    height: 90vh;
    width: 25%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    font-size: x-large;
}
#addnewmember-btn{
    background-color: rgb(90, 173, 90);
    height: 5%;
    width: 50% ;
    color: white;
    border: 0;
    border-radius: 15px;
    font-size: 100%;
    transition: all 1s;
    }
main{
    /* margin: 2%; */
    background : url(Ressourses/plan-69159a65c5684763515973.jpg);
    background-repeat: no-repeat ;
    background-position: center;
    width: 75%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left{
height: 85vh;
width: 37%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
#box1{
    height: 32%;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    
}
#box2{
    height: 66%;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#midle{
height: 85vh;
width: 17%;
}
#right{
height: 85vh;
width: 44%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
#box3{
    height: 33%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}
#box4{
    height: 32%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
#chombr1{
width: 48%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#chombr2{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#chombr3{
width: 48%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#chombr4{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#addinconference{
background-color: rgba(11, 186, 239, 0.937);
width: 10%;
    border: 0;
    border-radius: 15px;
    color: white;
        transition: all 1s;
}
#addinreception{
background-color: rgba(11, 186, 239, 0.937);
width: 10%;
    border: 0;
    border-radius: 15px;
    color: white;
    transition: all 0.5s;

}
#addinservers{
background-color: rgba(11, 186, 239, 0.937);
width: 10%;
    border: 0;
    color: white;
    transition: all 1s;
    border-radius: 15px;
}
#addinsecurité{
background-color: rgba(11, 186, 239, 0.937);
width: 10%;
    border: 0;
    color: white;
    transition: all 1s;
    border-radius: 15px;
}
#addstaff{
background-color: rgba(11, 186, 239, 0.937);
width: 10%;
    border: 0;
    color: white;
    transition: all 1s;
    border-radius: 15px;
}
#addvalaut{
background-color: rgba(11, 186, 239, 0.937);
width: 10%;
    border: 0;
    color: white;
    border-radius: 15px;
    transition: all 1s;
}
#addnewmember-btn:hover{
    box-shadow: 0 0 15px;
    transform: scale(10rem);
    border: 1px solid black;
    transition: all 1s;
}
#addinconference:hover{
    box-shadow: 5px;
    transform: scale(10rem);
    transition: all 1s;
    border: 1px solid black;
}
#addinreception:hover{
    box-shadow: 5px;
    transform: scale(10rem);
    transition: all 1s;
    border: 1px solid black;
}
#addinservers:hover{
    box-shadow: 5px;
    transform: scale(10rem);
    transition: all 1s;
    border: 1px solid black;
}
#addvalaut:hover{
    box-shadow: 5px;
    transform: scale(10rem);
    transition: all 1s;
    border: 1px solid black;
}
#addstaff:hover{
    box-shadow: 5px;
    transform: scale(10rem);
    transition: all 1s;
    border: 1px solid black;
}
#addinsecurité:hover{
    box-shadow: 5px;
    transform: scale(10rem);
    transition: all 1s;
    border: 1px solid black;
}